<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    {{>head}}
</head>


<body class="stretched side-header">

    <div id="wrapper" class="clearfix">
        <div id="app"></div>
    </div>


    {{>imports}}
</body>
</html>