<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{>head}}
</head>


<body class="stretched side-header" >

    <div id="wrapper" class="clearfix" style="background-color:#ffffcc">
        <div id="app"></div>
    </div>


    {{>imports}}
</body>
</html>